/*
 Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base styles
- Typography
- Tables



*/
html{
    background-color: #333333;
}
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #333333;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.header{
    grid-area: 1 / 1 / 2 / 3;
    /*height: fit-content;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-around;*/
    padding: 1rem 10rem;
    width: 100%;
}
#header-logo{
    display: flex;
    justify-self: flex-start;
    height: 5rem;
}

#header-text{
    display: flex;
    font-weight: 500;
    line-height: 1.2; /* 1.5*/
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    /*justify-self: center;*/
    margin-right: auto;
    margin-left: auto;
}
.content{
    background-color: #333333;
    color: white;
}
.squirrel-map{
     grid-area: 2 / 1 / 3 / 2;
}
.squirrel-data{

}

#circle{
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* OR alternatively
    float: left;
    width: 300px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: lightblue;
    eller kanskje en chevron?
    */
}




#cir{
    width: 50px;
}

/*
Base Styles
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.header-2{
    display: flex;
    /*justify-self: flex-start;*/
    height: 4rem;
}

.header-22{
    display: flex;
    width: 10rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 2rem 4rem;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 1 / 4 / 2 / 6; }
.div3 { grid-area: 2 / 1 / 3 / 4; }
.div4 { grid-area: 2 / 4 / 3 / 6; }
.div5 { grid-area: 3 / 1 / 5 / 6; }
.div6 { grid-area: 1 / 6 / 3 / 11; }
.div7 { grid-area: 3 / 6 / 5 / 11; }
.div8 { grid-area: 5 / 1 / 6 / 3; }
.div9 { grid-area: 5 / 3 / 6 / 5; }
.div10 { grid-area: 5 / 5 / 6 / 7; }
.div11 { grid-area: 5 / 7 / 6 / 9; }
.div12 { grid-area: 5 / 9 / 6 / 11; }




